{{#each tasks as |task|}}

  <!-- {{> partial}}
  Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just id? -->
  <ul data-id="{{task.id}}">
    <div class="hideMe">
    <li><small>Task Id: {{task.id}}</small></li>
    {{#if task.name}}
      <li>{{task.name}} <button class="remove-task-button btn btn-transparent-three" data-id="{{task.id}}">x</button></li>
      <!-- <li><button class="remove">Remove</button> -->
    {{/if}}
  </div>
</ul>

{{/each}}
