{{#each tasks as |task|}}

  <!-- {{> partial}} -->

  <ul data-id="{{task.id}}">
    <div class="hideMe">
    <li>{{task.name}}
      <button class="edit-task-button btn btn-transparent-four" data-toggle="modal" data-target="#updateTaskModal" data-id="{{task.id}}">EDIT</button>
      <button class="remove-task-button btn btn-transparent-four" data-id="{{task.id}}">DELETE</button></li>
  </div>
</ul>

{{/each}}
