$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.hideOnStart,
.hideOnStartTwo {
  display: none;
}

nav {
  // display: inline block
  position: fixed;
  left: 0;
  top: 0;
  height: 47px;
  width: 100%;
  background: #999;
  opacity: 0.4;
  text-align: center;
  z-index: 1000;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn-transparent {
  background: transparent;
  color: rgba(23, 23, 155, .8);
  font-weight: 600;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.btn-transparent:focus {
  background: transparent;
  outline: none;
  color: rgba(23, 23, 155, .8);
}

.btn-transparent:hover {
  color: white;
  background-color: rgba(255, 255, 255, .2);
}

body {
  background-attachment: fixed;
  background-image: url('http://res.cloudinary.com/dfu4pwocw/image/upload/v1493251336/bkBjWxa-starry-sky-background_utu895.jpg');
  background-repeat: no-repeat;
}

h1 {
  color: rgba(23, 23, 155, .8);
  font-weight: 600;
  font-family: 'Bungee', cursive;
  font-size: 28px;
  margin-left: 30%;
  margin-top: 10px;
  text-align: center;
  float: left;
}

h2 {
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  opacity: 0.3;
  text-align: center;
}

.UAtext {
  color: white;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  opacity: 0.3;
  text-align: center;
}

p {
  color: white;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  text-align: center;
  opacity: 0.5;
}

input {
  border: 2px solid lightgray;
  border-radius: 4px;
}

.container {
  display: none;
  padding: 20px;
  width: 575px;
  margin: 40px auto 0;
  background: transparent;
  border-radius: 5px;
}

.listDesc {
  color: #0D2CA0;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  text-align: center;
}

.toDoList {
  display: inline-block;
}

.listInput {
  text-align: left;
  padding: 4px 15px 4px 5px;
  opacity: 0.6;
}

.center {
  text-align: center;
}

ol {
  padding-left: 20px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
  text-align: center;
  list-style-position: inside;
  user-select: none;
}

li {
  color: white;
}

ol li {
  padding: 5px;
  color: darkblue;
}

ol li:nth-child(even) {
  color: white;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: #999;
  opacity: 0.5;
}

.footer {
  color: darkblue;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 736px) {
  h1 {
    font-size: 16px;
    margin-left: 8%;
  }

  nav {
    width: 736px;
    height: 46px;
  }

  .container {
    width: 340px;
  }

  .container-fluid {
    width: 375px;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 25px;
    margin-left: 27%;
  }
}
